{% extends 'base.html' %}
{% block content %}

<style>
  .bd-placeholder-img {
    font-size: 1.125rem;
    text-anchor: middle;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
  }

@media (min-width: 768px) {
.bd-placeholder-img-lg {
  font-size: 3.5rem;
}
  }
</style>
    <!-- Custom styles for this template -->
<link href="product.css" rel="stylesheet">
</head>
<body>
<div class="position-relative overflow-hidden p-3 p-md-5 m-md-3 text-center bg-light">
  <div class="col-md-5 p-lg-5 mx-auto my-5">
    <h1 class="display-4 font-weight-normal">Play the Stock Market</h1>
    <p class="lead font-weight-normal">Compete with others to see who the best investor is. the best traders will be highly rewarded.</p>
    <a class="btn btn-outline-secondary" href="#">Learn more</a>
  </div>
</div>
<br/><br/>

 <div class="row mb-2">
    <div class="col-md-6">
      <div class="row no-gutters border rounded overflow-hidden flex-md-row mb-4 shadow-sm h-md-250 position-relative">
        <div class="col p-4 d-flex flex-column position-static bg-success">
          <h2 class="mb-10 text-center">Current Competitions & leaderboards</h3>
          <br/>
          <p class="card-text mb-auto text-center">Competitions begin and end with the begging and end of each quarter. The top performers in each competition will recieve various prizes</p>
           <br/> <br/>
           <a href="#" class="link text-center">Learn More</a>
          </div>
      </div>
    </div>
    <div class="col-md-6">
    	<div class="row no-gutters border rounded overflow-hidden flex-md-row mb-4 shadow-sm h-md-250 position-relative">
        	<div class="col p-4 d-flex flex-column position-static bg-warning">
          		<h2 class="mb-10 text-center">Finance News</h3>
				<br/>
				<p class="card-text mb-auto text-center">Beign an informed investor is the key to success. To keep yourself informed on the current financial world click below</p>
				<br/> <br/>
				<a href="#" class="link text-center">Learn More</a>

	          </div>
	      </div>  
      </div>
    </div>
  </div>

{% if ticker %}
	{{ ticker }}
{% endif %}

{% if api %}
	{% if api == "Error..." %}
		There was a problem with your ticker symbol please try again...
	{% else %}

		<h1>{{ api.companyName }}</h1><br/>
		Price: ${{ api.latestPrice }}<br/>
		Previous Close: ${{ api.previousClose }}<br/>
		Market Cap: ${{ api.marketCap }}<br/>
		YTD Change: ${{ api.ytdChange }}<br/>
		52Wk High: ${{ api.week52High }}<br/>
		52Wk Low: ${{ api.week52Low }}<br/>

	{% endif %}
{% endif %}

{% endblock %}