{% extends 'base.html' %}
{% block content %}

{% include 'chart_base.html' %}




<script>
{% block jquery %}
var endpoint = '/api/chart/data'
var defaultData = []
var labels = []
$.ajax({
    method: "GET",
    url: endpoint,
    success: function(data){
        console.log(data)
        labels = data.date
        defaultData = data.close
        setChart()
    },
             

    error: function(data){
        console.log(data)
    }
})


function setChart(){
    var ctx = document.getElementById('myChart');
    var myChart = new Chart(ctx, {
        type: 'line',
        data: {
            labels: labels,
            datasets: [{
                label: '# of Votes',
                data: defaultData,
                   }]
            }
        }
        )
    }

{% endblock %}
</script>

{% block Ccontent %}


<div class='row'>
    <div class='container' url-endpoint='{% url "api-data" %}'>
        <h1>Hello World</h1>
        <canvas id="myChart" width="400" height="400"></canvas>
        <div class='col-sm-6'>
            <canvas id="myChart" width="400" height="400"></canvas>
        </div>
        <div class='col-sm-6'>
            <canvas id="myChart2" width="400" height="400"></canvas>
        </div>


    </div>
</div>

{% endblock Ccontent %}

{% endblock content %}
